@import url('https://unpkg.com/@fortawesome/fontawesome-free@5.15.4/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

@font-face {
   font-family: "comfortaaRegular";
   src: url("../fonts/comfortaa/Comfortaa-Regular.ttf");
}

#wrapper {
   margin: 0 auto;
 }

.floating {
   margin: auto;
   width: 50%;
   padding: 10px;
   top: 50px;
   position: relative;
   animation: fadeIn ease 2s, floating;
}

body {
	background-color: black;
}

.header1 {
   color: white;
   position: relative;
   top: 80px;
   background-color: rgba(0, 0, 0, 0);

}

.header2 {
    color: white;
    position: relative;
    top: 80px;
    background-color: rgba(0, 0, 0, 0);

}

.copyright {
   position: fixed;
   left: 0;
   bottom: 20px;
   height: 30px;
   width: 100%;
   color: white;
   background-color: rgba(0, 0, 0, 0);
   font-size: 18px
}

.socials {
   position: fixed;
   left: 0;
   bottom: 10px;
   height: 20px;
   width: 100%;
    font-size: 15px;
   color: white;
   background-color: rgba(0, 0, 0, 0);
}

* {
    font-family: comfortaaRegular, serif
}

#particles-js canvas {
    display: block;
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}
 
 @keyframes fadeIn{
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-moz-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-webkit-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-o-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }
 
 @-ms-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 .rainbow {
  text-align: center;
  text-decoration: underline;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
    /*noinspection CssInvalidPropertyValue*/
    background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: comfortaaRegular, serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.body2 {
    margin: 0;
    background: #111;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fa-magnifying-glass {
    color: white;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}

.logo {
    width: 150px;
}

.logo-wrapper .text {
    font-size: 75px;
    font-family: "Roboto", serif;
    color: #FFF;
}

.logo-wrapper h1 {
    color: white;
}

.footer2 {
    margin-top: auto;
    width: 93%;
    align-self: center;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer2 a,
.footer2 span {
    margin: 0 15px;
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
    position: fixed;
    left: 0;
    bottom: 10px;
    height: 20px;
    width: 100%;
}

.footer2 a {
    cursor: pointer;
}

.footer2 a:hover {
    text-decoration: underline;
}

.form2 {
    display: flex;
    justify-content: center;
}

.desc {
    display: flex;
    justify-content: center;
}

.desc p {
    width: 560px;
    color: rgba(253, 253, 253, 0.514);
}

.form2 input {
    background: none;
    font-family: inherit;
    padding: 0 17px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255, .2);
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #FFF;
}

.form2 input:focus {
    border: 1px solid rgba(253, 253, 253, 0.514);
    border-radius: 6px;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

div {
    display: inline-block;
}
